@model List<FavouriteGoods>

@{
    ViewBag.Title = "Favourite";
    Layout = "_Layout";
}

@foreach (var good in Model)
{
    <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src=@($"CustomerImages/{good.FileName.Replace(".", "")}.jpg") />
                            <div class="card-body">
                                <p class="card-text">Информация о товаре</p>
                                <p class="card-text outline">@good.Description</p>
                                <p class="card-text">@good.Size</p>
                                <p class="card-text">@good.User.UserName</p>
                                <p class="card-text">@good.User.PhoneNumber</p>
                                <button type="button" class="btn btn-danger" asp-controller="Favourite" asp-action="Delet">Удалить</button>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Цена @good.Price р </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
                  