@model CatalogeModel
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Cataloge page";
}
<style>
    .outline {
        border: 2px solid black;
        padding: 0 10px;
    }
</style>
@section CssFile {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}

@{
    foreach (var item in Model.Goods)
    {
        var currentCustomer = new IdentityUser();

        foreach (var customer in Model.Users)
        {
            if(item.CustomerId == customer.Id)
            {
                currentCustomer = customer;
            }
        }

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src=@($"CustomerImages/{item.FileName.Replace(".", "")}.jpg") />
                            <div class="card-body">
                                <p class="card-text">Информация о товаре</p>
                                <p class="card-text outline">@item.Description</p>
                                <p class="card-text">@item.Size</p>
                                <p class="card-text">@currentCustomer.UserName</p>
                                <p class="card-text">@currentCustomer.PhoneNumber</p>
                                @if (User != null && @currentCustomer.UserName == @User.Identity.Name)
                                {
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Delete", new { id = item.FileId})'">Удалить</button>
                                }
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("AddToFavourite", "Favourite", new { id = item.FileId})'">Добавить в избранное</button>
                                    }
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                    </div>
                                    <small class="text-muted">Цена @item.Price р </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


