@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    @RenderSectionAsync("CssFile", true);
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @RenderSectionAsync("Scripts", false);
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="HomePage" asp-action="Index">No Name Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" asp-controller="Catalog" asp-action="CatalogPage">Каталог</a>
                <a class="nav-item nav-link" asp-controller="About" asp-action="AboutPage">О нас</a>
                @{
                    if (signInManager.IsSignedIn(User))
                    {
                        <a class="nav-item nav-link" asp-controller="AddProduct" asp-action="AddProductPage">Добавить товар</a>
                        }
                    }
           </div>
        </div>
        @{
            if (signInManager.IsSignedIn(User))
            {
                <a class="nav-item nav-link" asp-controller="HomePage" asp-action="Index">@User.Identity.Name</a>
                <a class="nav-item nav-link" asp-controller="Account" asp-action="Logout">выход</a>
            }
            else
            {
                <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Вход</a>
                <a class="nav-item nav-link" asp-controller="Registration" asp-action="Register">Регистрация</a>
            }
        }
        <!-- Registration / Login ( anchor )   -->
        <!-- MishaShop About Cataloge Contact-Us       Registration Login -->
    </nav>
    @RenderBody();
</body>
</html>
